<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
    <h2>CheckBox Practical</h2>
    <label >
        <input type="checkbox" name="python"> Python
    </label><br>
    <label >
        <input type="checkbox" name="java"> java
    </label><br>
    <label>
        <input type="checkbox" name="C++"> C++
    </label><br><br>
    <button type="submit">Submit</button>
    </form>
    {% if select %}
    <ul>
        {% for courses in select %}
            <li> {{courses}}</li>
        {% endfor %}  
    </ul>

    {%endif%}      
</body>
</html>