<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="name" id="name" placeholder="Enter Name">
    <input type="email" name="name" id="name" placeholder="Enter email">
    <input type="radio" name="gender" value="Male">Male
    <input type="radio" name="gender" value="Female">Female
    <select name="city" id="">
        <option value="hmt">Himmatnagar</option>
        <option value="Idar">idar</option>
        <option value="surat">surat</option>
    </select>
    <button type="submit">Submit</button>
</body>
</html>