<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            font-size: 20px;
        }
        button{
            background-color: blue;
            color: white;
            height: 30px;
            width: 70px;
            border: none;
            cursor: pointer;

        }
    </style>
</head>
<body>
    <form action="/hello/" method="GET">
        {% csrf_token %}
        <p>Enter Name:</p>
        <input type="text" name="name"><br><br>
        <p>Enter Email:</p>
        <input type="text" name="email"><br><br>

        <button type="submit">Submit</button>

    </form>
</body>
</html>