<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <p>Select Gender:</p>
        <input type="radio" value="Male" name="gender">Male
        <input type="radio" value="Female" name="gender">Female<br><br>

        <button type="submit">Submit</button><br><br>


    </form>
    {% if result %}
        {% if result.gender == "Male"%}
           You selected : Male
        {% else %}
           You selected: Female
        {% endif %}
    {%endif%}      
</body>
</html>