<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Dropdown example</h2>
    <form method="POST">
        {% csrf_token %}
        <select name="city">
            <option value="Surat">Surat</option>
            <option value="Ahmedaad">Ahmedabad</option>
            <option value="HMT">HMt</option>
    </select>
    <button type="submit">Save</button>
    </form>

    {%  if city %}
        <h3>{{city}}</h3>
    {% endif %}    

</body>
</html>