<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
           
        button{
            background-color: green;
            height: 30px;
            width: 70px;
            color: white;
            border:none;
            border-radius: 5px;
            margin-right: 20px;
            
        }

    </style>
</head>
<body>
    <div class="container">
    <h2>Shopping System</h2>
    <form method="POST">
        {% csrf_token %}
    <p>Enter Customer name: <input type="text" name="name"></p>
    <p>Enter product Name name: <input type="text" name="pname"></p>
    <p>Enter price: <input type="text" name="price"></p>
    <p>Enter quntity: <input type="text" name="qty"></p>

    <button type="submit">Save</button>
    <button type="reset" style="background-color: red;">Clear</button>
    </form>

    {% if result %}
    
    <p>Total Amount={{result.total}}<br></p>
    <p>Total Discount={{result.dis}}<br></p>
    <p>Net price={{result.net}}<br></p>

    <p>Thank You for shopping {{result.name}} Good Luck</p>

    {%endif%}
    </div>
</body>
</html>