<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{
            text-align:center;
            color:blue;
            font-size:40px;
        }
        button{
            height:40px;
            width:70px;
            background-color:red;
            color:white;
            border:none;
            border-radius:10px;
            margin-left:650px;
            cursor:pointer;
        }
    </style>
</head>
<body>
    <h2>welcome {{name}}</h2>
   

   <form action="">
    <button type="submit"> <a href="{% url 'login' %}"></a>logout

    </button>
   </form>
    

    
</body>

</html>